:root {
  --primary-color:#855400;
  --primary-text-color:#ededed;
  --secondary-color:#d1ea42;
  --secondary-text-color:#0d0097;
  --brand-logo:url('../app/resources/qmLogo.png');
  --footer-logo:url('../app/resources/brand_logo.png');
  }
