.btn-margin {
  margin-top: 8em;
  padding-top: 1em;
}

.btn-margin-extend {
  margin-top: 10px;
  margin-bottom: 10px;
}

.leave-line {

  background: var(--leave_button_background) !important;
  color: var(--leave_button_text) !important;
  border: 2px solid var(--leave_button_text) !important;

}

.leave-line:hover {
  background: var(--leave_button_text) !important;
  color: var(--leave_button_background) !important;
  border: 2px solid var(--leave_button_text) !important;
  fill: var(--leave_button_background);
}
.leave-svg-path {
  fill: var(--leave_button_text);
}

.leave-line:hover {
  .leave-svg-path {
    fill: var(--leave_button_background);
  }
}
